<style>.tweet-container{
  border: 1px solid #e1e8ed;
  padding: 9px 12px;
  overflow:hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom:100%;
}
.content{
  display: flex;
  width: 100%;
  height: 100%;
}
.left-container{
  height:100%;
}
strong{
  font-weight:bold;
}
.username{
  font-size: 12px;
  color: #8899a6;
}
.footer{
  display:flex;
}
.avatar{
  width:48px;
  height:48px;
  border-radius:5px;
  float: left;
  margin-right: 10px;
}
.tweet-text{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}
.icon{
  width:18px;
}
.icons-container span{
    color: #aab8c2;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    margin-right:10px;
}
video {
  width: 100%    !important;
  height: auto   !important;
}
#container{
  overflow: hidden;
  position: absolute;
}
.tweet-data{
  height: 100%;
}
.right-container{
  height: 100%;
}</style><div id="container"><div class="tweet-container" ng-repeat="tweet in tweetData"><div class="content"><div class="left-container"><img class="avatar"></div><div class="right-container"><span><strong>{{tweet.user.name}}</strong> <span class="username">@{{tweet.user.screen_name}}</span> <small class="username">{{tweet.created_at}}</small></span><div class="tweet-data"><p class="tweet-text">{{tweet.text}}</p><div class="tweet-media"></div></div><div class="footer"><div class="icons-container"><img class="icon" src="assets/images/retweet-icon.png"><span>{{tweet.retweet_count}}</span></div><div class="icons-container"><img class="icon" src="assets/images/like-icon.png"><span>{{tweet.favorite_count}}</span></div></div></div></div></div></div>